
header{
	background-color: #ffbb00;
}
.topo{
	background-color: #ffbb00;
}

.navbar-nav{
	background-color: #ffbb00;
	color:#000 ;

}

.button{
	color: #000;
}

.clearfix{
	position: ;
}

.card-img{
	position:;

}

footer{
	color: #000;
}